<ion-view title="{{project.name}}">
    <ion-content has-header="true">
        <div class="item padding-10">
            <div class="row">
                <div class="col-30 detail-key">Name:</div>
                <div class="col detail-value">{{project.name}}</div>
            </div>
        </div>
        <div class="item padding-10">
            <div class="row">
                <div class="col-30 detail-key">Created Date:</div>
                <div class="col detail-value">{{project.createdDate}}</div>
            </div>
        </div>
        <div class="item padding-10">
            <div class="row">
                <div class="col-30 detail-key">Hours Spent:</div>
                <div class="col detail-value">{{project.hours}}</div>
            </div>
        </div>
        <ion-list>
            <div class="item item-divider">
                Tasks: {{project.tasks ? project.tasks.length : 0}}
            </div>
            <ion-item class="card item-icon-left item-icon-right" ng-repeat="task in project.tasks" type="item-text-wrap">
                <i class="icon ion-checkmark balanced"></i>
                <span><b>{{task.name}}</b></span>
                <br />
                <span>Hours spent: {{task.hours}}</span>
                <i class="icon ion-arrow-right-c"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
