
<ion-radio ng-model="selectedProject" ng-repeat="project in projects" ng-click="closePopup()">{{project.attributes.name}}</ion-radio>
<!-- <ion-radio ng-model="choice" ng-value="'B'">Choose B</ion-radio>
<ion-radio ng-model="choice" ng-value="'C'">Choose C</ion-radio>
 -->