<ion-view title="New Timer">
    <ion-content class="padding">
        <label class="item item-input">
            <input type="text" placeholder="Task Name">
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Project Name
            </div>
            <button class="button button-outline button-positive" ng-click="showPopup()">
                Select
            </button>
        </label>
        <button class="button button-block button-balanced">
            <i class="icon ion-ios7-play"></i> start
        </button>
    </ion-content>
</ion-view>
