<ion-view title="Dashboard">
    <ion-content>
        <div class="padding">
            <button class="button button-outline button-positive icon-left" ng-click="openNewTask()" href="#/home/new">
                <i class="icon ion-ios7-plus-empty"></i>    New
            </button>
        </div>
        <ion-list>
            <div class="item item-divider">
                Projects
            </div>
            <ion-item class="card item-icon-left item-icon-right" ng-repeat="project in projects" type="item-text-wrap" href="#/home/project/{{project.id}}">
                <i class="icon ion-bag assertive"></i>
                <span><b>{{project.name}}</b></span>
                <br />
                <span>Hours spent: {{project.hours}}</span>
                <i class="icon ion-arrow-right-c"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
