<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-positive tabs-icon-only">


    <!-- Dashboard Tab -->
    <ion-tab title="Dashboard" icon-on="ion-ios7-speedometer" icon-off="ion-ios7-speedometer-outline" href="#/home/dashboard">
        <ion-nav-view name="home-dashboard"></ion-nav-view>
    </ion-tab>


    <!-- New Timer Tab -->
    <ion-tab title="NewTimer" icon-on="ion-ios7-plus" icon-off="ion-ios7-plus-outline" href="#/home/new">
        <ion-nav-view name="home-new"></ion-nav-view>
    </ion-tab>


    <!-- Account Tab -->
    <ion-tab title="Account" icon-on="ion-ios7-settings-strong" icon-off="ion-ios7-settings" href="#/home/account">
        <ion-nav-view name="home-account"></ion-nav-view>
    </ion-tab>


</ion-tabs>
