/* Empty. Add your own CSS if you like */
.detail-key {
	padding: 5px;
}

.padding-10 {
	padding: 10px;
}

.detail-value {
	text-align: left;
	font-weight: bold;
	font-size: 20px;
	vertical-align: center;
}